{% extends 'base.html' %}

{% block content %}
<section class="container-fluid">
    <nav class="navbar">
        <h1>{% block title%} Registrar tarea {% endblock %}</h1>
        <a href="{{url_for('todo.create')}}" class="btn btn-success">Nuevo</a>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th class=" col">Tasks</th>
                <th class=" col">Status</th>
                <th class=" col" colspan="2">Option</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos | reverse %}
            {% if g.user.id == todo.created_by %}
            <tr>
                <td>
                    <h5>{{ todo.title }}</h5>
                    <p>{{todo.descr}}</p>
                </td>
                <td>
                    {% if todo.status == false %}
                        <span class="text-warnig">Incompleted</span>
                    {% else %}
                        <span class="text-success">Completed</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{url_for('todo.update',id = todo.id)}}" class="btn btn-info btn-sm">Edit</a>
                </td>
                <td>
                    <a href="{{url_for('todo.delete',id = todo.id)}}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a>
                </td>
            </tr>
        </tbody>
        
            {% endif %}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Delete task</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{todo.title}}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{url_for('todo.delete',id = todo.id)}}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a>
                      <button type="button" class="btn btn-primary">cancel</button>
                    </div>
                  </div>
                </div>
              </div>
        {% endfor %}
    </table>
</section>
<!-- Modal -->

{% endblock %}